</div><!-- ./partials/footer -->
        </div>
    </div>
    <footer>
        <p class="text-center">Comic Book Manager &copy; <%=currentYear %>, All Rights Reserved</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>