<% include ../partials/header %>
    <% if (success_msg != false) { %>
    <div class="alert alert-success">
    <%= success_msg %>
    </div>
<% } %>
<% if (error_msg != false) { %>
    <div class="alert alert-danger">
    <%= error_msg %>
    </div>
<% } %>

    <h1>Comic Search</h1>
    <p>Search for comics to add to your collection.</p>
    <form method="post" action="/search/results">
        <div class="form-group">
            <label>Title*</label>
            <input type="text" class="form-control" name="title" placeholder="Comic Title">
        </div>
        <div class="form-group">
            <label>Issue #</label>
            <input type="text" class="form-control" name="issueNum" placeholder="Issue number">
        </div>
        <a href="/search/results" class="btn btn-default">Search</a>
    </form>

<% include ../partials/footer %>