<% include ../partials/header %>
    <h1>Search Results</h1>

    <div class="row comics">
        <% for(var i=0; i < comics.length; i++) { %>
            <div class="col-md-4 comics">
                <a href="/comics/details/<%=comics[i].id %>"><img src="<%= comics[i].cover %>"></a>
                <h4 class="album-title text-center"><%= comics[i].title %></h4>
                <p class="artist-name text-center"><%= comics[i].artist %></p>
            </div>
        <% } %>
    </div>

<% include ../partials/footer %>